bitarray
bitstring
cocotb
cocotb-bus
cocotb-coverage
cocotb-test
cocotbext-axi
cocotbext-pcie
crc
cryptography
peakrdl==1.4.0
peakrdl-cheader==1.0.0
peakrdl-cli==1.4.0
peakrdl-html==2.11.0
peakrdl-ipxact==3.5.0
peakrdl-python==1.2.0
peakrdl-regblock==1.1.0
peakrdl-systemrdl==1.0.0
peakrdl-uvm==2.3.0
peakrdl_markdown==1.0.2
pyuvm==3.0.0
pyvsc
yowasp-yosys
